*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
.body{
    
}
.col-1{width:8.33%}
.col-2{width:16.66%}
.col-3{width:25%}
.col-4{width:33.33%}
.col-5{width:41.66%}
.col-6{width:50%}
.col-7{width: 58.33%}
.col-8{width:66.66%}
.col-9{width:75%}
.col-10{width:83.33%}
.col-11{width:91.66%}
.col-12{width:100%}

[class*="col-"]
{
    float: left;

    

}
.row::after{
    content: "";
    clear: both;
    display: block;
}
.wrapper{
    width: 90%;
    height: auto;
    margin: auto;
}
@media screen and (max-width:500px)
{
    [class*="col-"]
    {
        width: 100%;
    }
}
@media screen and (min-width:501px) and (max-width:780px)
{
    .col-m1{width:8.33%}
.col-m2{width:16.66%}
.col-m3{width:25%}
.col-m4{width:33.33%}
.col-m5{width:41.66%}
.col-m6{width:50%}
.col-m7{width: 58.33%}
.col-m8{width:66.66%}
.col-m9{width:75%}
.col-m10{width:83.33%}
.col-m11{width:91.66%}
.col-m12{width:100%}
.add_position{
    position: absolute;
    top: 0px;
    right: 0px;
}
.row_position{position: relative;}
}
@media screen and (min-width:781px) and (max-width:980px)
{
    .col-l1{width:8.33%}
.col-l2{width:16.66%}
.col-l3{width:25%}
.col-l4{width:33.33%}
.col-l5{width:41.66%}
.col-l6{width:50%}
.col-l7{width: 58.33%}
.col-l8{width:66.66%}
.col-l9{width:75%}
.col-l10{width:83.33%}
.col-l11{width:91.66%}
.col-l12{width:100%}
}
.shadow{
    height: 200px;
    width: 300px;
    background-color: rosybrown;
    margin: 20px;
    box-shadow: 10px 10px grey;
}
.shadow p{
    color: white;
    font-size: 35px;
    text-shadow: 3px 3px gray
}
.box_one{
    height: 90%;
    width: 95%;
    background-color: #eff7ef;
    margin:5px;
    box-shadow: 2px 0px 2px 2px grey;
}
.box_two{
height: 100px;
    width: 95%;
    background-color: #eff7ef;
    margin:5px;
    box-shadow: 2px 0px 2px 2px grey;
}
.box_sayeed{
  border: 1px solid red;
  height: 100%;
  width: 100%;
background-color: red;
color: red;

}
.box_three button{
    border-radius: 5px;
    background-color:#226853;
    color: white;

}
.col{
    background-color: red;
}


.box_three button:hover{
    background-color: #208768;
}
.content_one{
    border: 1px solid;
    height: auto;
}
.content_one h1{
    background-color: gray;
    height: 80px;
    text-align: center;
    font-size: 40px;
    padding: 15px;
    color: white;
}
.my_column{
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    text-align: justify;
    column-gap: 10px;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-rule: dotted;
    -webkit-column-rule: dotted;
    -moz-column-rule:dotted;
    column-rule-color: red;
    -webkit-column-rule-color: red;
    -moz-column-rule-color: red;
}
.a{
    column-span: all;
    -webkit-column-span:all;
    -moz-column-span:all;
    padding-bottom: 10px;
}
.header_top_height{height: 60px;}
.header_bottom_height{height: 200px;}
.menu_height{height: 50px;}
.menu_heightww{height:50px;}
.content_height{height: 650px;}
.big_footer_height{height: 350px;}
.footer_height{height: 200px;}
.footer_heights{height: 300px;}
.mama{height: 40px;}
.kakas{height: 240px;}
.mnb{height: 180px;}
.cart{height:1000px;}
.carth{height: 80px;}
.cartt{height: 120px;}
.add{height: 80px;}
.khn{height: 150px;}
.kb{height: 150px;}

.my_gradient{
    max-height: 650px;
    width: 100%;
    background-color:#f7f9f7;
    font-size: 30px;
    padding-top: 5px;
    text-align: center;
    cursor: pointer;
    animation-name: bitm;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    overflow-y: scroll;
}
@keyframes bitm{
    0% {bacground:linear-gradient(to bottom, black, silver,black);}
    50%{bacground:linear-gradient(to top, red, silver,blue); transition:2s;}
    100% {bacground:linear-gradient(to bottom, black, silver,blue,black); transition:2s;}
}
/*header color*/
.headercolor{
    background-color:#B4F7CB;
}
.index{
    position: fixed;
    margin-top: 0px;
    width:90%;
}
.index li a:hover{
    color: black;
}
.logo img{
    width: 52px;
    height: 52px;
     border-radius:70px;
margin-top:3px;
margin-left:40px;
}
.logo img:hover {
    box-shadow: 0 0 4px 4px rgba(1, 1, 1, 1);
}
.pname li a{
    font-size: 40px;
 color: #226853;
text-decoration: none;


}
.pname li{
    margin-top:8px;
    list-style: none;

}

.searchb input{
  height: 35px;
  width: 70%;
  font-size: 20px;
  background-color:white;
  color: #226853;
  border:1px solid green;
}
.searchb button{
height: 35px;
  width: 15%;
  font-size: 20px;
  background-color: #eff7ef;
  color: #226853;
  border:1px solid green;
}
.searchb button:hover{
    background-color: #f2e1a4;
}
.searchb{
    margin-top: 10px;
    margin-left: 86px;
}
.sign{
margin-top: 30px;

}
.sign a{
    font-size:18px;
    color: #226853;
    text-decoration: none;
}
.menu{
    margin-top:15px;
 
}
.menu a{
    font-size: 20px;
    color: #226853;
    text-decoration: none;
}

.menu :hover {
    color:black;
}
.menu2 button{
     height: 50%;
     width: 50%;
background-color:#eff7ef;
border:1px solid green;
border-radius: 80%; 
margin-top: 15px;
margin-left:1%;
box-shadow: 2px 3px 5px 1px  #226853;

}
.menu2 a{
    color: #226853;
}
.menu2 button a:hover{
    color:#dbd76f;
}
.sign :hover {
    color:black;
}


table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 18px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #226853;
}
.g{background-color: #c8edc2;}




/*address from css*/
